html
    head
        title The Image Seeker
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/style.css')
        link(href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lato", rel="stylesheet", type='text/css')

    div.container
        h1.heading The Image Seeker
        div.box
            h2.heading Description
            div.text-block
                p.text A simple API service that can perform a search for images that are related to a given search phrase. Results are given in JSON format.
                
            h2.heading Example API Calls
            div.text-block
                p.code https://image-seeker.glitch.me/search/wizards?offset=1
                p.code https://image-seeker.glitch.me/history
                
            h2.heading Example Response
            div.text-block
                p.code [{"url":"https://static.wixstatic.com/media/1792ca_3946adc8643ffa516d4a3e40f4d58e27.jpg_srz_940_752_85_22_0.50_1.20_0.00_jpg_srz","snippet":"Wizards of Wizard Quest","thumbnail":"https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQQyv_H57d2SnjpNqW5qRkfGY_b4PPvHlLGSuf0URmkbbvVmflJAJ0-AtsT","context":"https://www.wizardquest.com/thewizards"}, ....... ]
                p.code [[{"term":"wizards","when":"2017-04-26T03:37:03.978Z"}, ....]
                
    script(src="https://code.jquery.com/jquery-2.2.1.min.js", integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=", crossorigin="anonymous")
    script(src='/client.js')